<a href="https://colab.research.google.com/github/Elwing-Chou/tibaml0606/blob/main/cluster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.datasets import load_iris
iris = load_iris()
iris["data"]

In [2]:
# 已知K=3
from sklearn.cluster import KMeans
cluster = KMeans(n_clusters=3)
cluster.fit(iris["data"])

KMeans(n_clusters=3)

In [ ]:
cluster.cluster_centers_

In [ ]:
cluster.labels_

In [9]:
# 可以把分群想像成自己打上答案的動作, 打上答案你就可以存起來
# 後續你想要用任何的分類演算法(決策樹...)都可以
import pandas as pd
df = pd.DataFrame(iris["data"], columns=iris["feature_names"])
df["labels"] = cluster.labels_
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),labels
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,1
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,1